{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
  <div class="row">
      <h1>Gestion'air 2015</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
        <h2>Equipe</h2>
        <p>L'équipe du projet est composée d'étudiant-e-s des trois filières de la HEG Arc (business law [BL], économie
        d'entreprise [EE] et informatique de gestion [IG]). Elle est accompagnée d'un professeur et d'un assistant.</p>
        <ul>
            <li>Boiziau	Charlotte (étudiante EE, <em>scénographie</em>)</li>
            <li>Botha Julie (étudiante BL, <em>call center</em>)</li>
            <li>Cornu Jonathan (étudiant BL, <em>scénographie</em>)</li>
            <li>Dubois Mathieu (étudiant IG, <em>IT</em>)</li>
            <li>Duperret Kevin (étudiant EE, <em>scénographie</em>)</li>
            <li>Fernandes Vanessa (étudiante BL, <em>call center</em>)</li>
            <li>Gaspoz Cédric (professeur, <em>encadrement</em>)</li>
            <li>Herrera Alexis (étudiant EE, <em>call center</em>)</li>
            <li>Maliki Zana (étudiante EE, <em>call center</em>)</li>
            <li>Rosselet Antoine (assistant IG, <em>coordinateur</em>)</li>
            <li>Vuille Benoît (étudiant IG, <em>IT</em>)</li>
        </ul>

        <h2>Traducteurs / narrateurs</h2>
        <p>Les questions du call center sont traduites dans 17 langues. Les questions en allemand, anglais et russe ont
            été créées dans le cadre des cours de langue de la HEG. Les autres langues ont été traduites et enregistrées
            par des étudiant-e-s bilingues de notre école.</p>
        <ul>
            <li></li>
        </ul>

        <h2>Musique originale</h2>
        <p>Toutes les musiques de Gestion'air ont été créées spécialement pour l'occasion par des professeurs et
        étudiants de l'école.</p>
        <ul>
            <li>Ulysse Rosselet (professeur, <em>compositeur</em>)</li>
            <li>Cornu Jonathan (étudiant BL, <em>voix</em>)</li>
        </ul>

        <h2>Collaborations</h2>
        <p>Le projet a pu se réaliser grâce à la collaboration de nombreuses personnes qui nous ont accompagné durant
            tout ou partie du processus.</p>
        <ul>
            <li>Ellis Sarah Main (professeure anglais)</li>
            <li>Hug Priska (professeure allemand)</li>
            <li>Racine Nina (professeure russe)</li>
            <li>Staudacher Karin (professeure allemand)</li>
            <li>Zadory Bertrand (professeur anglais)</li>
        </ul>
    </div>
    <div class="col-md-4">Left col</div>
  </div>
</div>
{% endblock content %}
