{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Résultats Gestion'air</h1>
        <p>Si tu as participé à l'activité Gestion'air durant le Paléo 2015, retrouve tes résultats en entrant le code
        figurant sur ton étiquette ou en scannant le QR-Code!</p>
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Code groupe</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="2546">
          </div>
          <button type="submit" class="btn btn-default">Afficher les résultats</button>
        </form>
        <p class="small-font">Plus d'étiquette? Pas de problème si tu connais le jour de la partie et le nom de ton
            équipe. <a href="">Rechercher des résultats</a>.</p>
    </div>
{% endblock content %}